.cargo {
    height: min-content;
    padding: 1rem;
    background-color: var(--bg-2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: cargo;
}

.cargo__header {
    display: flex;
    gap: 0.25rem;
}

.cargo__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-2);
    text-transform: uppercase;
}

.cargo__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.cargo__item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cargo__itemName {
    font-weight: 500;
    color: var(--accent);
}