.waypointInfo {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-2);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    grid-area: location;
}

.waypointInfo__header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.waypointInfo__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-2);
    text-transform: uppercase;
}

.waypointInfo__infos {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.waypointInfo__waypointTypeWrapper,
.waypointInfo__waypointCoordsWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.waypointInfo__traits {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.waypointInfo__trait {
    padding: 0.35rem;
    border-radius: 0.25rem;
    background-color: var(--bg-0);
    color: var(--accent-2);
}

.waypointInfo__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.waypointInfo__excavate,
.waypointInfo__refuel {
    width: 100%;
    align-self: stretch;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: var(--txt);
    background-color: var(--confirm);
    border: none;
    outline: none;
    cursor: pointer;
    transition: 300ms;
}

.waypointInfo__excavate:hover,
.waypointInfo__refuel:hover {
    background-color: var(--confirm-hover);
}

.waypointInfo__excavate--disabled,
.waypointInfo__excavate--disabled:hover,
.waypointInfo__refuel--disabled,
.waypointInfo__refuel--disabled:hover {
    cursor: not-allowed;
    background-color: var(--bg-0);
    color: var(--bg-3);
}