.user {
    background-color: var(--bg-2);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.user__symbol {
    color: var(--accent-2);
    font-size: 1.5rem;
    font-weight: 500;
}

.user__infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.user__credits,
.user__headquarters,
.user__faction,
.user__shipCount {
    font-weight: 500;
    white-space: nowrap;
}

.user__hqWrapper,
.user__factionWrapper,
.user__creditsWrapper,
.user__fleetWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}