.user {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.user__symbol {
    color: var(--accent);
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.user__infos {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.user__headquarters {
    font-weight: 600;
}

.user__faction {
    font-weight: 600;
}

.user__creditsWrapper {
    display: flex;
    align-items: center;
}

.user__credits {
    font-weight: 600;
}

.user__creditsIcon {}