.fleet {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-2) var(--bg-0);

}

.fleet__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    color: var(--accent);
}