.waypointList__wrapper {
    width: 100%;
    min-height: 100%;
    background-color: #14141440;
    backdrop-filter: blur(2px);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waypointlist__scrollable {
    max-height: 100vh;
    overflow-y: scroll;
}

.waypointList {
    margin: 3rem;
    padding: 1rem;
    width: max-content;
    border-radius: 0.5rem;
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.waypointList__header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.waypointList__icon {
    width: 2rem;
    height: 2rem;
}

.waypointList__title {
    font-size: 1.5rem;
    color: var(--accent-2);
    font-weight: 600;
}

.waypointList__list {
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.waypointlist__listheader {
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-0);
}

.listItem {
    background-color: var(--bg-2-hover);
}

.listItem__cell {
    vertical-align: middle;
    padding: 1rem;
}

.listitem__icon {
    width: 2rem;
    height: 2rem;
}

.listitem__distance,
.listitem__traits {
    justify-content: center;
}

.listitem__symbol {
    word-break: keep-all;
}

.listItem:nth-child(odd) {
    background-color: var(--bg);
}

.listitem__header {
    align-self: stretch;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.listItem__trait {
    display: inline-block;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: var(--bg-0);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.listitem__go {
    width: min-content;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--confirm-2);
    color: white;
    font-weight: 500;
    cursor: pointer;
}