@import url(./reset.css);

@font-face {
    font-family: Inter;
    src: url("../fonts/inter.ttf");
}

:root {
    --bg: #181818;
    --bg-2: #212121;
    --bg-2-hover: #1d1d1d;
    --bg-3: #313131;
    --accent: #8E8DBE;
    --accent-2: #B6B5D1;
    --txt: #fff;
    --txt-muted: #878787;
    --confirm: #508B41;
    --cancel: #8D3535;
    --info: #376EA1;
}

body {
    height: 100vh;
    background-color: var(--bg);
    color: var(--txt);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#root {
    height: 100%;
}