.shipOverview {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-2);
    border-radius: 0.5rem;
    gap: 1rem;
    grid-area: ship;
}

.shipOverview__header {
    display: flex;
    gap: 0.25rem;
}

.shipOverview__title {
    font-size: 1.5rem;
    color: var(--accent-2);
    font-weight: 600;
    text-transform: uppercase;
}

.shipOverview__symbol {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent);
}

.shipOverview__fuel,
.shipOverview__cargo,
.shipOverview__integrity {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.shipOverview__fuelHeader,
.shipOverview__cargoHeader,
.shipOverview__integrityHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shipOverview__progressTitleWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.shipOverview__fuelTitle,
.shipOverview__cargoTitle,
.shipOverview__integrityTitle {
    font-weight: 700;
    color: var(--accent);
}

.shipOverview__cooldownWrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.shipOverview__cooldownTimber {
    font-size: 1.5rem;
    font-weight: 600;
}