.shipOverview {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg-2);
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.shipOverview__header {
    display: flex;
    gap: 0.25rem;
}

.shipOverview__icon {}

.shipOverview__title {
    font-size: 1.5rem;
    color: var(--accent-2);
    font-weight: 600;
}

.shipOverview__symbol {}

.shipOverview__fuel,
.shipOverview__cargo,
.shipOverview__integrity {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.shipOverview__fuelHeader,
.shipOverview__cargoHeader,
.shipOverview__integrityHeader {
    display: flex;
    justify-content: space-between;
}

.shipOverview__titleWrapper {
    display: flex;
    gap: 0.25rem;
}

.shipOverview__fuelIcon {}

.shipOverview__fuelTitle,
.shipOverview__cargoTitle,
.shipOverview__integrityTitle {
    font-weight: 700;
    color: var(--accent);
}

.shipOverview__fuelLevel {}

.shipOverview__fuelCurrent {}

.shipOverview__fuelMax {}

.shipOverview__fuelProgressBar,
.shipOverview__cargoProgressBar,
.shipOverview__integrityProgressBar {
    background-color: var(--bg);
    height: 0.25rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}

.shipOverview__fuelProgressBar::-webkit-progress-value,
.shipOverview__cargoProgressBar::-webkit-progress-value,
.shipOverview__integrityProgressBar::-webkit-progress-value {
    background-color: red;
}

.shipOverview__cargo {}

.shipOverview__cargoHeader {}

.shipOverview__titleWrapper {}

.shipOverview__cargoIcon {}

.shipOverview__cargoTitle {}

.shipOverview__cargoLevel {}

.shipOverview__cargoCurrent {}

.shipOverview__cargoMax {}

.shipOverview__cargoProgressBar {}

.shipOverview__integrity {}

.shipOverview__integrityHeader {}

.shipOverview__titleWrapper {}

.shipOverview__integrityIcon {}

.shipOverview__integrityTitle {}

.shipOverview__integrityLevel {}

.shipOverview__integrityCurrent {}

.shipOverview__integrityProgressBar {}