.loading {
    min-width: fit-content;
    min-height: fit-content;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--accent);
    display: grid;
    animation: l22-0 2s infinite linear;
}

.loader--big {
    width: 2em;
    height: 2em;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    transform: rotate(0deg) translate(150%);
    background-color: var(--accent-2);
    animation: l22 1s infinite;
}

.loader:after {
    animation-delay: -.5s
}

@keyframes l22-0 {
    100% {
        transform: rotate(1turn)
    }
}

@keyframes l22 {
    100% {
        transform: rotate(1turn) translate(150%)
    }
}